body {
  background-color: #dbbec0;
  font-family: 'Alegreya', serif;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}

#global-nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 150px;
  width: 100%;
  background: #324c5f;
  color: #fff;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.site-title {
  display: inline-block;
  -webkit-transition: all .5s;
    transition: all .5s;
}

.scrolled-nav .site-title  {
  font-size: 16px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}


.content-section {
  height: 500px;
  padding: 50px;
}

.hero-section {
  height: 200px;
}

.hero-text,
.content-text {
  max-width: 550px;
}

.hero-section h1 {
  color: #333;
}

.hero-section p {
  color: #333;
}

.content-section {
  height: fit-content;
  background-color: #212529;
}

.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}


.btn {
  background-color: lightblue;
  color: #212529;
  font-size: larger;
  height: 40px;
  width: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dropdown-menu {
  background-color: blanchedalmond ;
}

.dropdown-item {
  text-align: center;
  height: 50px;
  font-size: 20px;
}
.maincard {
  margin: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgba(254, 184, 194, 0.861);
}
.title {
  text-align: center;
  margin-top: 100px;
}

.title h1 {
  font-size: 100px;
  color: rgb(0, 0, 0);
}

.title hr {
  border-top: 2px solid black;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.contact-button {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.aboutmesection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  height: 600px;
  margin-top: px;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 500px;
  margin-top: 20px;
}

.image-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  padding: 20px;
}

.box {
  flex: 1;
  margin: 10px;
  background-color: #82b8cf;
}

.box1 {
  height: 300px;
  background-image: url(./pictures/1.jpeg);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.box2 {
  height: 200px;
  background-image: url(./pictures/2.jpeg);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 50px;
}

.box3 {
  height: 350px;
  background-image: url(./pictures/3.jpeg);
  background-size: cover;
}

.box4 {
  height: 300px;
  background-image: url(./pictures/4.jpeg);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.box5 {
  height: 200px;
  background-image: url(./pictures/5.jpeg);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 50px;
}

.box6 {
  height: 350px;
  background-image: url(./pictures/6.jpeg);
  background-size: cover;
}

.box7 {
  height: 300px;
  background-image: url(./pictures/7.jpeg);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 30px;
}

.box8 {
  height: 350px;
  background-image: url(./pictures/8.jpeg);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 50px;
}

.box9 {
  height: 350px;
  background-image: url(./9.jpeg);
  background-size: cover;
}

.box10 {
  height: 600px;
  background-image: url(./pictures/IMG_7041.JPG);
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.getintouchsection {
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  height: 650px;
  margin-top: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.carousel-caption {
  background-color: blanchedalmond;
  color:#212529 ;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.divider {
  height: 400px;
  width: 1px;
  background-color: black;
}

.text-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.text-box h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.text-box p {
  font-size: 18px;
}

.carousel-inner {
  height: 600px;
  padding: 30px;
}

@media screen and (max-width: 480px) {
  .section {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .image-box {
    display: none;
  }

  .divider {
    display: none;
  }

  .text-box {
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .text-box h2 {
    font-size: 24px;
  }

  .text-box p {
    font-size: 16px;
  }
}


.carousel-inner {
  height: 900px;
  padding: 30px;
}


.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button-primary {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 16px;
  cursor: pointer;
}

.button-secondary {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}



@media only screen and (max-width: 768px) {

 .nav-list {
  display: none;
 }
  .title h1 {
    font-size: 2rem;
    
  }
}

@media only screen and (max-width: 576px) {

  
  .title h1 {
    font-size: 1.5rem;
   
  }
}

@media (max-width: 810px) {
  
  .image-box {
    display: none;
  }
}
